/* components */
.avatar {
  width: 124px;
  height: 124px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .avatar {
    width: 88px;
    height: 88px;
  }
}
#banner > h1 {
  font-family: "Satisfy", cursive;
}
#banner video {
  right: 0;
  top: 0;
  width: 100%;
  z-index: -10;
}

/* // .banner h1 {
//   margin: 0;
//   color: white;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   font-size: 32px;
//   font-weight: bold;
// }

// .banner p {
//   font-size: 20px;
//   color: white;
//   opacity: .7;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
// } */
.send-button {
  margin: auto;
  margin-top: 15px;
  height: 34px;
  width: 100%;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  background-color: #809bce;
  transition: all 0.2s ease-in-out;
}
.alt-send-button > i {
  color: #e7d8c9;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

.instagram > i,
.linkedin > i {
  font-size: 2.5rem;
  margin: 1rem 0.5rem;
}

.menu i {
  color: whitesmoke;
  font-size: 2rem;
}

.social-list i, .contact-list i {
  color: whitesmoke;
}

.cd-timeline__img > i {
  color: black;
}

.nav-mennu i:after {
  content: "";
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 2rem;
  right: 2rem;
  height: 60px;
  width: 58px; /*needs to be set to display element with fixed property*/
  border-radius: 50%;
  background-color: whitesmoke;
  cursor: pointer;
  z-index: 99;
}

.hamburger {
  position: relative;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%); /*transfer an element from one place to another*/
  width: 32px;
  /*making the hamburger lines - stack over each other*/
  /*separating the hamburger lines*/
}
.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  /*will offset the position by 2px because*/
  border-radius: 99px;
  background-color: black;
  transition-duration: 0.25s;
}
.hamburger > span::before {
  content: "";
  top: -8px;
}
.hamburger > span::after {
  content: "";
  top: 8px;
}

/*adding animations*/
.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  /* brings the first one on the center of the screen*/
  transform: rotate(0deg);
  /* brings it on the opposite way*/
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg); /*X*/
}

.insta img {
  max-width: 200px;
  max-height: 350px;
}

/* .navbar-transparent{
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-white{
  background-color: white;
  color: black;
} */
.social-links {
  font-size: 2rem;
}

.nav-menu span {
  padding-left: 12px;
}
.nav-menu a {
  color: whitesmoke;
  text-decoration: none;
  transition: font-size 1s;
}
.nav-menu a:hover {
  color: whitesmoke;
  font-size: 1.5rem;
}

/* @import url('sections/main.css'); */
.skill {
  width: 24%;
}

.sidebar {
  /* position */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  /*sizing*/
  min-height: 100vh;
  width: 300px;
  padding: 1rem 1rem;
  /*display*/
  display: flex;
  flex-direction: column;
  flex: 1 1 0; /*flex as big it can flex until */
  /*behaviors*/
  transition: all ease-in-out 0.5s;
  overflow-y: auto;
  background-color: #b2967d;
}

.profile {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile > h1 {
  font-size: 2rem;
  text-decoration: none;
  color: whitesmoke;
  padding-top: 8px;
  text-align: center;
}

@media (max-width: 1024px) {
  .menu-toggle {
    display: block;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    max-width: 300px;
    padding: 0;
    transition: 0.2s linear;
  }
  .sidebar.is-active {
    left: 0;
  }
  .profile > h1 {
    font-size: 1.5rem;
    margin: 8px;
  }
}
* { /* defining the root*/
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

body {
  background-color: #D8C0A5;
}

ul {
  list-style: none;
}

h1 {
  font-family: "Francois One", sans-serif;
}

li {
  padding: 16px;
  color: whitesmoke;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: whitesmoke;
  padding-left: 16px;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
}

.contact-container {
  display: flex;
  margin: auto;
  color: #000;
  margin-left: 16px;
  padding-left: 0;
}
@media screen {
  .contact-container {
    display: block;
    margin-left: 0;
  }
}

.contact-list {
  list-style-type: none;
  margin-left: -9px;
}
@media screen {
  .contact-list {
    margin-left: -57px;
  }
}
.contact-list > ul {
  padding-left: 0;
}

.list-item {
  /* font-size: .75rem; */
  line-height: 4;
  /* display: flex; */
  /* flex-direction: column; */
}

.contact-text {
  /* font: 300 18px 'Lato', sans-serif; */
  /* letter-spacing: 1.9px; */
  color: #000;
  font-size: 1.25rem;
}
.contact-text a {
  color: WHITE;
  text-decoration: none;
  transition-duration: 0.2s;
}
.contact-text a:hover {
  color: cornflowerblue;
  text-decoration: none;
}

.place {
  margin-left: 16px;
}

.gmail {
  margin-left: 8px;
  font-size: 1.25rem;
}

/*social media icones*/
.social-list {
  display: flex;
  justify-content: space-around;
  font-size: 4rem;
  width: 100%;
  color: #000;
}

/* @media screen and (max-width: 1024px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .form-container, .contact-container {
    margin: 0 auto;
  }

  .contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
} */
@media screen and (max-width: 569px) {
  .contact-container, .contact-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control, textarea {
    margin: 0 auto;
  }
  .name, .email, textarea {
    width: 280px;
  }
  .contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
  .fab {
    color: #809bce;
    font-size: 2rem;
  }
  .social-list {
    left: 0;
  }
  .social-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}
@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
.content {
  margin-left: 280px;
  background-color: #D8C0A5;
}

.section-header {
  width: 100%;
  text-align: center;
  margin: 16px 0;
  letter-spacing: 6px;
}

@media (max-width: 1024px) {
  .content {
    margin-left: 0;
  }
}
#portfolio {
  padding-left: 300px;
  color: #040b14;
  text-align: center;
} /* ::before selector in absolute position to create the vertical line */
.cd-timeline {
  overflow: hidden;
  padding: calc(2 * var(--space-unit)) 0;
}

.cd-timeline__container {
  position: relative;
  padding: calc(1.25 * var(--space-unit)) 0;
  max-width: 80rem;
}
.cd-timeline__container:before {
  /* this is the timeline vertical line */
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 4px;
  background: #809bce;
}

/* Flexbox to align content and image inside each cd-timeline__block element */
.cd-timeline__block {
  display: flex;
}
@media (min-width: 64rem) {
  .cd-timeline__block:nth-child(even) {
    flex-direction: row-reverse; /*for even blocks -> lay out content from right to left */
  }
}

.cd-timeline__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
@media (min-width: 64rem) {
  .cd-timeline__img {
    order: 1; /*flex order -> place the image after cd-timeline__content */
  }
}

.cd-timeline__content {
  flex-grow: 1; /* expand element so that it takes up all the available space inside its parent*/
  padding-left: 8px;
}
@media (min-width: 64rem) {
  .cd-timeline__content {
    width: 45%;
    flex-grow: 0; /* prevent element from growing inside its parent */
  }
}/*# sourceMappingURL=main.css.map */