*{ /* defining the root*/
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
  font-family:'Exo 2', sans-serif;;
}

ul{
  list-style: none;
}
h1{
  font-family: 'Francois One', sans-serif;
}


li{
  padding: 16px;
  color: whitesmoke;
  font-size: 1rem;
}

a{
  text-decoration: none;
  color: whitesmoke;
  padding-left: 16px;
}
