#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
}

.contact {
  &-container {
  display: flex;
  margin: auto;
  color: #000;
  text-align: center;
    @media screen {
      display: block;
      margin-left: 0;
    }
  }

  &-list{
    list-style-type: none;
  }

  &-text {
    color: #000;
    font-size: 1.25rem;

    a {
      color: WHITE;
      text-decoration: none;
      transition-duration: 0.2s;

      &:hover {
        text-decoration: none;
        color: $color-contact-icons;
      }

      &:active {
        color: whitesmoke;
      }
    }
  }
}

.list-item{
  line-height: 2;
}



/*social media icones*/
.social-list {
  display: none;

  @media(max-width: 1024px) {
    display: flex;
    justify-content: space-around;
    font-size: 4rem;
    width: 100%;
    color: #000;
  }
}
