#banner {

  >h1 {
      font-family: 'Satisfy', cursive;
  }

  video {
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
  }
}


// .description{
//   height: 100vh;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: center;
//   /*styling*/
//   font-family: 'Satisfy', cursive;
//   font-size: 7rem;
//   letter-spacing: 1px;
//   color: whitesmoke;
//   text-shadow: 1px 1px 2px black;
//   text-align:center;
// }


/* // .banner h1 {
//   margin: 0;
//   color: white;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   font-size: 32px;
//   font-weight: bold;
// }

// .banner p {
//   font-size: 20px;
//   color: white;
//   opacity: .7;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
// } */
// @media (max-width: 1024px) {
//   .description {
//     font-size: 4rem;
//     background-size: contain;
//   }
// }
