/* .navbar-transparent{
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-white{
  background-color: white;
  color: black;
} */
.social-links{
  font-size: 2rem;
}
.nav-menu {
  span {
    padding-left: 12px;
  }
  a {
  color: whitesmoke;
  text-decoration: none;
  transition: font-size 1s;

  &:hover {
      color: whitesmoke;
      font-size: 1.5rem;
    }
   }
}
