.content {
  margin-left:280px;
}

.section-header {
  width: 100%;
  text-align: center;
  margin: 16px 0;
  letter-spacing: 6px;
}

@media (max-width: 1024px){
  .content {
    margin-left: 0;
  }
}
