.banner {
  background-size: 100vh 75vw cover;
  background-attachment: fixed;
  background-position: top 0 left 24vw;
  margin-bottom: 16px;
  width: 100vw;
}

.description{
  height: 100vh;
  color: whitesmoke;
  text-shadow: 1px 1px 2px black;
  text-align:center;
  display: flex;
  overflow: hidden;
  /* white-space: nowrap; */
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-family: 'Exo 2', sans-serif;
  font-size: 4rem;
  letter-spacing: 1px;
  padding-left: 300px;
}

.banner > h1 {
  font-family: 'Satisfy', cursive;
}

/* // .banner h1 {
//   margin: 0;
//   color: white;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   font-size: 32px;
//   font-weight: bold;
// }

// .banner p {
//   font-size: 20px;
//   color: white;
//   opacity: .7;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
// } */
