/* .navbar-transparent{
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-white{
  background-color: white;
  color: black;
} */
.social-links{
  font-size: 2rem;
}
.nav-menu a{
  color: whitesmoke;
  text-decoration: none;
  padding-left: 12px 15px;
}
.nav-menu a:hover{
  color: whitesmoke;
  font-size: 1.5rem;
}

i{
  padding-right: 16px;
  font-size: 1rem;
}
